<p>control works!</p>

<!-- https://angular.io/guide/reactive-forms -->

<form [formGroup]="job" (ngSubmit)="onSubmit()">
  <div formGroupName="details">
    <h3>Details</h3>

    <label>
      Client:
      <input type="text" formControlName="client">
    </label>

    <label>
      Customer:
      <input type="text" formControlName="customer">
    </label>

    <label>
      Reference:
      <input type="text" formControlName="reference">
    </label>

    <label>
      Number of blinds:
      <input type="text" formControlName="num_blinds">
    </label>
  </div>

  <div formGroupName="dimensions">
    <h3>Dimensions</h3>

    <label>
      Width:
      <input type="text" formControlName="width">
    </label>

    <label>
      Height:
      <input type="text" formControlName="height">
    </label>

    <label>
      Number of widths:
      <input type="text" formControlName="num_widths">
    </label>
  </div>

  <!-- Disabled if form invalid, see: https://angular.io/guide/form-validation -->
  <button type="submit" [disabled]="!job.valid">Submit</button>
</form>



<p>
  <button (click)="updateProfile()">Update Profile</button>
</p>

<p>
  City: {{ job.get('dimensions.width').value }}
  Form Value: {{ job.value | json }}
  Form Status: {{ job.status }}
</p>
