<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <!-- Create control form by creating field from each field in the service -->
    <div *ngFor="field_group of field_groups">
      <div *ngFor="let field of fields" class="form-row">
        <app-field [field]="field" [form]="form"></app-field>
      </div>
    </div>


    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Generate</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
