<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="job">

    <!-- Create control form by creating field from each field in the service -->
    <div *ngFor="let field_group of field_groups">
      <!-- Group -->
      <h3>Derp</h3>
      <div *ngFor="let field of field_group" class="form-row">
        <app-field [field]="field" [job]="job"></app-field>
      </div>
    </div>


    <div class="form-row">
      <button type="submit" [disabled]="!job.valid">Generate</button>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
