<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="job_groups">

    <!-- Create control form by creating field from each field in the service -->
    <div *ngFor="let group of job">
      <div formGroupName="{{group.key}}">

        <!-- Group -->
        <h3>Group = {{ group.key }}</h3>
        <div *ngFor="let field of group.group" class="form-row">

          <!-- Field -->
          <app-field [field]="field" [job]="job_groups" [group]="group.key"></app-field>
        </div>
      </div>
    </div>

    <!-- Submit button(s) -->
    <div class="form-row">
      <button type="submit" [disabled]="!job_groups.valid">Generate</button>
    </div>
  </form>

  <!-- Submission summary -->
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
