<div [formGroup]="job.controls['Details']">
<!--<div [formGroup]="job">-->

  <p>DEBUG:
    {{ field.key }}
    {{ field.control_type }}
    {{ field.value }}
    {{ field.required }}
    {{ field.label }}
  </p>

  <label [attr.for]="field.key">{{field.label}}</label>
  <div [ngSwitch]="field.control_type">
    <p *ngSwitchCase="'textbox'">Text box? {{ field.control_type }}</p>
    <p *ngSwitchCase="'dropdown'">Drop down? {{ field.control_type }}</p>

    <input *ngSwitchCase="'textbox'" [formControlName]="field.key"
           [id]="field.key" [type]="get_type()">

    <select *ngSwitchCase="'dropdown'" [id]="field.key" [formControlName]="field.key">
      <option *ngFor="let opt of get_options()" [value]="opt.key">
        {{opt.value}}
      </option>
    </select>
  </div>

  <div class="errorMessage" *ngIf="!isValid">{{field.label}} is required</div>
</div>
