<div [formGroup]="job.controls[group]"> <!-- Ignore type warning -->
  <!-- Field -->
  <label [attr.for]="field.key">{{field.label}}</label>

  <!-- Switch/case for field type -->
  <div [ngSwitch]="field.control_type">

    <!-- Textbox -->
    <input *ngSwitchCase="'textbox'" [formControlName]="field.key"
           [id]="field.key" [type]="get_type()">

    <!-- Dropdown -->
    <select *ngSwitchCase="'dropdown'" [id]="field.key" [formControlName]="field.key">
      <option *ngFor="let opt of get_options()" [value]="opt.key">
        {{opt.value}}
      </option>
    </select>
  </div>

  <!-- Error message -->
  <div class="errorMessage" *ngIf="!is_valid">{{field.label}} is required</div>
</div>
